<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<TITLE>Guestbook example template</TITLE>
</head>

<body>






<br>
<br>
<br>
<h1>GUESTBOOK TEMPLATES</h1>
<h2>EXAMPLE 2</h2>














<br><br><br><br><hr><br><br><br>
<em>This template for the guestbook features:<br>
- A header section (the gray table cell with title)<br>
- A content section with only one design for an element (as opposed to Example 1 where there are two alternating designs).<br>
(See the source code for subparts and markers)<br>
</em>
<br>
<br>
<br>
<br>





<!-- ###TEMPLATE_GUESTBOOK###  begin
	This is the template for the guest book or comment items
-->
<table cellpadding="4" cellspacing="1" border="0" width="98%">
	<tr bgcolor="#999999"><td colspan=2 valign="bottom"><font face="verdana,arial,helvetica" size="2" color="#FFFFFF"><div align="center"><b>The Guestbook</b></div></font></td></tr>
	<!-- ###CONTENT### begin
		  This is the part of the template substituted with the list of comments/entries:
	-->
		<!-- ###POST### begin
			Template for a single item
		-->
			<tr>
				<td nowrap width="10%" bgColor="#cccccc"><font face="arial, helvetica" size="1"><b>###POST_DATE###</b></font></td>
				<td valign="top" bgColor="#cccccc"><font face="arial, helvetica" size="2"><b>###POST_TITLE###</b></font></td>
			</tr>
			<tr>
				<td valign="top">
				</td>
				<td valign="top">
					<font face="verdana,arial,helvetica" size="1">
						###POST_CONTENT###<br><br>
					-----------<br>
					Name: <b>###POST_AUTHOR###</b><br>
					Email: <a href="mailto:###POST_EMAIL###">###POST_EMAIL###</a>
					</font>
				</td>
			</tr>
		<!-- ###POST### end-->
	<!-- ###CONTENT###  end -->
</table><br>
###PREVNEXT###
<!-- ###TEMPLATE_GUESTBOOK### end -->



</body>
</html>
