<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<title>Guestbook example template</title>
</head>

<body>






<br>
<br>
<br>
<h1>GUESTBOOK TEMPLATES</h1>
<h2>EXAMPLE 1</h2>








<br><br><br><br><HR><br><br><br>
<em>This template for the guestbook features:<br>
- A header section (the orange table cell)<br>
- A content section, which is where the guest book items go:<br>
- The content section has two alternative designs: One with a light background and one with an olive background. When listing the guestbook items, Typo3 will alternate between using the one or the other design.<br>
(See the source code for subparts and markers)<br>
</em>
<br>
<br>
<br>
<br>



<!-- ###TEMPLATE_GUESTBOOK### begin
	This is the template for the guest book or comment items
-->
<table cellpadding="4" cellspacing="1" border="0" width="98%">
	<tr bgcolor="###GC3###">
		<td colspan=2 valign="bottom">###GW2B### <font color="#FFFFFF"><b>###COMMENTS###:</b></FONT>###GW2E###</td>
	</tr>
	<!-- ###CONTENT### begin
		  This is the part of the template substituted with the list of comments/entries:
	-->
		<!-- ###POST### begin
			Template for a single item
		-->
			<tr>
				<td bgcolor="###GC2###" valign="top">
					###GW2B### ###POST_DATE### - ###POST_TIME### - ###POST_AGE### ###GW2E###
				</td>
				<td bgcolor="###GC2###" valign="top">
					###GW2B### <b>###POST_AUTHOR###</b> - ###POST_EMAIL###<br>###POST_WWW### ###GW2E###
				</td>
			</tr>
			<tr>
				<td bgcolor="###GC2###" valign="top">
				</td>
				<td bgcolor="###GC2###" valign="top">
					###GW1B###<b>###POST_TITLE###</b>###GW1E###<br>
					###GW2B### ###POST_CONTENT### ###GW2E###
				</td>
			</tr>
		<!-- ###POST### end-->
		<!-- ###POST_1### begin
			Template for an alternative single item
		-->
			<tr>
				<td bgcolor="###GC1###" valign="top">
					###GW2B### ###POST_DATE### - ###POST_TIME### - ###POST_AGE### ###GW2E###
				</td>
				<td bgcolor="###GC1###" valign="top">
					###GW2B### <b>###POST_AUTHOR###</b> - ###POST_EMAIL###<br>###POST_WWW### ###GW2E###
				</td>
			</tr>
			<tr>
				<td bgcolor="###GC1###" valign="top">
				</td>
				<td bgcolor="###GC1###" valign="top">
					###GW1B###<b>###POST_TITLE###</b>###GW1E###<br>
					###GW2B### ###POST_CONTENT### ###GW2E###
				</td>
			</tr>
		<!-- ###POST_1### end-->
	<!-- ###CONTENT###  end -->
</table><br>
###PREVNEXT###
<!-- ###TEMPLATE_GUESTBOOK### end -->


</body>
</html>
